.aboutctn{
  width: 100%;
  height: 350px;
  background-color: #ffff;
}

.abouttxt{
  width: 580px;
  height: 200px;
  border: 1px solid black;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  text-wrap: wrap;
  line-height: 1.8;
  font-family: sans-serif, roboto;
}
.skills{
  width: 580px;
  height: 100px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 20px;
}
.skills ul{
  display: flex;
  justify-content: space-around;
  list-style-type: square;
  margin: 0 5px;
  padding: 0;
  margin: 0;
  /* text-align: center; */
}