.heroctn{
  width: 100%;
  background-color: #1E1E1E;
  color: #ffffff;
  font-family: league spartan;
  height: 350px;
  padding-top: 40px;
  overflow: hidden;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.navctn{
  height: 70px;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
  display: flex;

}
.navctn h1{
  font-style: italic;
  font-size: 24px;
}

.herotext{
  width: 90%;
  height: 200px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}