.projectctn{
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 1px solid #1a1f4f;
  border-radius: 8px;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
  width: 350px;
  color: white;
  /* background-color: #1a1f4f; */
}

.para{
  font-family: league spartan;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 290px;
  margin: 0 auto;
}