.projectCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 25px;
}
.btnCTN{
  display: flex;
  gap: 25px;
  height: 100px;
 margin-top: 20px;
}
.btnCTN button{
  width: 150px;
  height: 30px;
  font-size: 14px;
}